*{
    font-family: "Figtree";
}

td{
    padding: 4px;
}

select{
    padding: 5px;
    padding-left: 70px;
    padding-right: 65px;
    border-radius: 10px;
}

input{
    border: 1px solid yellow;
    width: 225px;
    padding: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
}

.btn{
    border: 1px solid yellow;
    padding: 5px;
    width: 233px;
    background-color: #efefff;
    border-radius: 10px;
}

div{
    width: 450px;
    padding: 20px;
    margin-left: 31%;
    margin-right: 34.5%;
    margin-top: 10%;
    border-radius: 20px;
    background-color: #6e9faf;
}

h2{
    margin-top: 30px;
    text-align: center;
}