*{
    font-family: "Figtree";
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
}

input, select, button, #result {
    margin: 10px 0;
    padding: 14px 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    border: none;
    outline: 1px solid #bbb;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}